<!-- So, this page needs to render the form, and also show results once the form is submitted -->

<!DOCTYPE html>
<html>
<title>Topic Widge</title>
<body>

<h1>Enter Topic</h1>

<!-- Search form -->
<form  method="GET" action="index.php"  id="searchform"> 
	<input  type="text" name="topic"> 
	<input  type="submit" name="submit" value="Search"> 
</form>

</body>
</html>