<p>
	<form action="/" id="topicsearch">
		<input type="text" id="searchterm">
		<input type="submit">
	</form>
</p>

<div id="community-results">
<!-- This is a placeholder that gets filled up by the javascript with the same id -->
</div>

<div id="trends-results">
	<!-- We replace the default src for the iframe
	with the one from the JavaScript trendsFrameFunction()
	-->
	<iframe id="trendsFrame" scrolling="no" style="border:none;" width="640" height="330" src="/api/community">
  		<p>Your browser does not support iframes.</p>
	</iframe>
</div>